@use '../abstracts' as *;

nav {
  background-color: rgb(53, 53, 53, .8);
  backdrop-filter: blur(1rem);
  padding-inline: 1em;
  color: $font-putih;
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 2em;
  }
  
  a {
    color: $font-putih;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    
    // hover effect
    &::after {
      content: "";
      background: #ff004f;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transform-origin: left; //munculkan dari kiri, kalau ga pake munculnya dari tengah
      transition: transform $transisi-lambat;
      
      position: absolute;
      left: 0;
      bottom: -.5em;
    }

    // activate hover effect on hover
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
